.header{
    height: var(--header-height);
    background-image: linear-gradient(#f63f2e,#ff6433 );
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: flex;
    justify-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0 , 0, 0, 0.2);
}

.header__navbar-user-name{
    font-size: 1.3rem;
    margin-left: 8px;
    font-weight: 400;
}

.header__navbar-user-menu{

    position: absolute;
    padding: 8px 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius:2px ;
    list-style: none;
    width: 160px;
    z-index: 10;
    box-shadow: 0 2px 3.125rem 0 rgba(0 , 0, 0, 0.2);
    display: none;
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 30px;
    width: 100px;
    height: 8px;
    background-color: rgba(0 , 0, 0, 0);
}

.header__navbar-user-menu::before{
    position: absolute;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0;
    top: -32px;
}

.header__navbar-user-item {

}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 16px;
    display: block;
    
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: rgb(241, 237, 237);
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item--has-qr:hover .header__qr{
     display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.header__navbar-icon-fb:hover{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.header__navbar-icon-ig:hover{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #d68982;
    height: 14px;
    /* background-color: #e68a81; */
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: #fff;
}

.header__qr{
      width: 186px;
      background-color: var(--white-color);
      position: absolute;
      left: 0;
      top: 118%;
      padding: 8px;
      border-radius: 2px;
      display: none;
      animation: fadeIn ease 0.5s;
      cursor: default;
      z-index: 10;
      box-shadow: 0 2px 3px #ccc ;
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img{
     width: 100%;
     z-index: 10;
}

.header__qr-apps{
       display: flex;
       justify-content: space-between;
}

.header__qr-link:nth-child(1){
     margin-left: 11px;

}

.header__qr-link:nth-child(2){
    margin-right:11px ;
}

.header__qr-download-img{
      height: 15px;
}

/*  Header notification */

.header__notify{
z-index: 2;
 position: absolute;
 top: 118%;
 width: 404px;
 background-color: var(--white-color);
 right: 0;
 border-radius: 2px;
 border: 1px solid #D3D3D3;
 cursor: default;
 transform-origin:calc(100% - 20px) top ;
 animation: headerNotifyGrowth ease-in 0.2s;
 will-change: opacity,transform;
 display: none;
}



.header__notify::before{
    position: absolute;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0;
    top: -30px;
}

@keyframes headerNotifyGrowth{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
     height: 40px;
     background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--view{
    background-color: rgba(238,75,42,0.1);
}

.header__notify-link{
    display: flex;
    padding: 12px ;
    text-decoration: none;
    
    width: 100%;
}

.header__notify-img{
width: 48px;
object-fit: contain;
}

.header__notify-info{
     margin-left: 12px;
}

.header__notify-name{
     display: block;
     color: rgb(0, 0, 0);
     font-size: 1.4rem;
     font-weight: 400;
     line-height: 1.8rem;
}

.header__notify-descriotion{
    display: block;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: rgb(80, 78, 78);
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}
/* Auth modal */
.auth-form{
    width: 500px;
    background-color:var(--white-color) ;
    overflow: hidden;
}


.auth-form__input{
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    padding: 0 12px;
    margin-top: 16px;
    border: 2px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    padding: 0 12px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #F5F5F5;
    padding: 12px 36px;
    display:flex;
    justify-content: space-between;
    margin-top: 32px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--fb{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials--fb
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 36px;
    font-weight: 500;
}

.auth-form__socials--gg{
    color: var(--text-color);
    background-color:var(--white-color);
}

/* Login form */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
    
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #888;

}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color) ;
    height: 16px;
    margin: 0 16px;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header-with-search */

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px ;
}

.header__logo{
    width: 150px;
    margin-right: 80px;
}

.header__search{
    border-radius: 2px;
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
    /* position: relative; */
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;


}

.header__cart-wrap:hover .header__cart-list{
    display: block;
    z-index: 1;
}


.header__cart-icon{
    font-size: 2.2rem;
    color: var(--white-color);
    margin-top: 14px;
}

.header__cart-notice{
    position: absolute;
    padding: 1px 4px;
    font-size: 1.3rem;
    line-height: 1.1rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 3px rgb(226, 76, 31) solid;
    top: 2px;
    right: -3px;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 6px);
    right: -4px ;
    background-color: var(--white-color);
    width: 360px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0 , 0, 0, 0.2);
    display: none;
    cursor: default;
    background-color: #fdfdfd;
}

.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 4px;
    top: -26px;
    border-width: 18px 20px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-heading{
    text-align: left;
    margin: 12px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 40vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex ;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
}


.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
    
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-price-wrap{

}

.header__cart-item-name{
    flex: 1;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2 ;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-quatity{
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__cart-item-remove{
    color:var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart{
   float: right;
   margin: 0 12px 12px 0; 
}

.header__cart-view-cart:hover{
    background-color: #f05d41;
}

.header__cart-list--no-cart{
    padding: 28px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}



.header__cart-no-cart-img{
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.3rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 5px;
}

.header__search-select{
    display: flex;
    border-left: 1px solid #999;
    padding-left: 16px;
    width:122px ;
    height: 32px;
    align-items: center;
    position: relative;
}
.header__search-select:hover{
    cursor: pointer;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select-label{
font-size: 1.4rem;
color: var(--text-color);
align-items: center;

}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #999;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 4px;
    height: 34px;
    width: 60px;
    outline: none;
}

.header__search-btn:hover{
    cursor: pointer;
    background-color: rgb(246, 116, 90);
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    z-index: 0;
}

.header__search-option::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;  
    left: 0;
    top: -10px;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    text-align: right;
    display: block;
}

.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover{
    background-color: rgb(243, 239, 239);
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
}

/* Search History */

.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(201, 199, 199);
    background-color: var(--white-color);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading{
    margin: 0px 12px;
    font-size: 1.4rem;
    color: rgb(183, 180, 180);
    font-weight: 400;
    height: 38px;
    line-height: 38px;
}

.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}


.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: rgb(240, 240, 240);
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* app__container */
.app__container{
    background-color: #f5f5f5;
}

.app_content{
    padding-top: 20px;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading{
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 12px 16px 0;
    margin-top: 0;
    font-weight: 400;
}

.category-list{
    padding:0 0 8px 0;
    list-style: none;
}

.category-item{
    position: relative;
}

.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    align-items: center;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item:first-child::before{
    content: "";
    display: none;

}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s ;
    right: 0;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter{
    display: flex;
    align-items: center;
    background-color: rgb(235, 235, 235);
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
    font-weight: 500;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn{
    flex:1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    
}

.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right: 2px solid #eee;
}



.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* product Item */
.home-product-item{
    display: block;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-size: contain;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    margin-left: 10px;
    text-decoration-line: line-through;
    font-size: 1.3rem;
    color: #666;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}

.home-product-item__like{
    font-size: 1.4rem;
}

i.home-product-item__like-icon-fill{
    display: none;
    color: #F63D30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__rating{
    font-size: 0.8rem;
    color: rgb(169, 169, 169);
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold{
    color: var(--star-gold--color) ;
}

.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 10px ;
}

.home-product-item__brand{
    
}

.home-product-item__origin-name{
    
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px ;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after{
    content: "";
    position: absolute;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    left: 0;
    top: 16px;
    filter: brightness(60%);
}

.home-product-item__favourite span{
    color: var(--white-color);

}

.home-product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px ;
    color: var(--white-color);

}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgb(255, 216, 64, 0.94);
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgb(255, 216, 64, 0.94) transparent rgb(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent{
    color: #EE4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: -1;
}

.home-product-item__sale-off-label{
    position: relative;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
}


.home-product__pagination{
    margin: 48px 0 32px;
}
